<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web11Filter</display-name>
  <filter>
    <filter-name>CommentFilter1</filter-name>
    <filter-class>Web.CommentFilter1</filter-class>
    <init-param>
      <param-name>illegalStr</param-name>
      <param-value>cat</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CommentFilter1</filter-name>
    <url-pattern>/Comment</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CommentFilter2</filter-name>
    <filter-class>Web.CommentFilter2</filter-class>
    <init-param>
      <param-name>strLen</param-name>
      <param-value>20</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CommentFilter2</filter-name>
    <url-pattern>/Comment</url-pattern>
  </filter-mapping>
</web-app>